@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

:root {
    /* general */
    --rojo: #ce1131;
    --maron: #810a1e;

    --width-pc: 387px;
    --espaciado-left-pc: 8px;

    /* tablero */
    --width-buton: 15px;
    --border-radius-buton: 1rem;
    --height-buton: 16px;

    --rojo-tab: #ea0507;
    --marron-tab: #9a0405;

    --amarillo-tab: #e0e414;
    --amarillo-back: #7f830a;

    /* radar */
    --blanco: #f8fafa;
    --azul: #009dd4;
    --azul-claro: #0bcdff;
    --luz: #9ce8ff;

    /* contenedor */
    --content-pokedex: #bd0f34;

    --contorno-info-windows: #6a6b6f;
    --info-window: #dedede;
    --preview: #f1f2d3;
    --contorno-preview: #c2c1b5;

    /* botones */
    --contorno-botones: #050405;
    --botones: #222222;

    --primer-boton: #c70c13;
    --segundo-boton: #095378;

    /* controlls */
    --caja: #55ab62;

    --lineas: #a61129;
}

/* body {
    margin: 0;
    align-items: center;
    display: flex;
    background: rgba(224, 210, 210, 0.671);
    font-family: 'RocknRoll One', sans-serif;
} */

#seccion_busqueda {
    margin-top: -30%;
    margin-left: 177px;
    position: absolute;
    margin-bottom: 10px;
}

.seccion_busqueda{
    margin-top: 3%;
    margin-bottom: 3%;
}

.title-buscador {
    margin-bottom: 3px;
    font-size: 17px;
    letter-spacing: 1px;
}

#buscador {
    border-radius: 1rem;
    height: 24px;
    /* width: 186px; */
    /* padding-bottom: 1px; */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

#buscar {
    width: 74px;
    height: 24px;
    border-radius: 5px;
    margin-top: -27px;
    position: absolute;
    margin-left: 211px;
    background: var(--azul-claro);
    color: black;
    font-weight: 700;
}

/* ----------------------------------------------- */

#primer-seccion {
    /* background: yellow; */
    /* width: 50%;
    height: 450px; */
    /* margin-top: 100px; */
}

#segunda-seccion {
    /* background: orange; */
    width: 50%;
    height: 450px;
    margin-top: 100px;
}

.primer-contenedor {
    background: var(--maron);
    /* width: 76vh; */
    /* height: 73vh; */
    
    /* width: 479px; */
    width: 400px;
    height: 459px;
    margin-top: 5%;
    margin-bottom: 1vh;
    margin-left: 5%;
    /* margin-left: 32vh; */
    border-top-left-radius: 24px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 24px;
}

/* segundo contenedor */

.segundo-contenedor {
    /* width: 479px;
    height: 396px;
    background: var(--maron);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-top: 69px;
    margin-bottom: 1vh;
    margin-left: -1px; */
    width: 423px;
    height: 295px;
    background: var(--maron);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-top: 170px;
    margin-bottom: 1vh;
    margin-left: -1px;
}

.top-curva {
    width: 265px;
    height: 121px;
    background:var(--maron);
    margin-top: 51px;
    position: absolute;
}
/*  */

.tablero {
    background: var(--rojo);
    width: var(--width-pc);
    height: 30px;
    position: absolute;
    margin-left: var(--espaciado-left-pc);
    margin-top: 4px;
    border-top-left-radius: 24px;
    border-top-right-radius: 17px;
}

.button-red {
    background: var(--rojo-tab);
    width: var(--width-buton);
    height: var(--height-buton);
    border: 1px var(--rojo-tab) solid;
    border-radius: var(--border-radius-buton);
    margin-left: 110px;
    margin-top: 6px;
}

.sombra-r {
    background: var(--marron-tab);
    width: 16px;
    height: 16px;
    border-radius: 2rem;
    margin-left: 1px;
    margin-top: 0px;
}

#esfera-r {
    width: 12px;
    border-radius: 1rem;
    height: 12px;
    background: var(--rojo-tab);
}

.button-yellow {
    background: var(--amarillo-tab);
    width: var(--width-buton);
    height: var(--height-buton);
    border: 1px var(--amarillo-tab) solid;
    border-radius: var(--border-radius-buton);
}

.primary-y {
    margin-left: 135px;
    margin-top: -18px;
}

.secoundary-y {
    margin-left: 160px;
    margin-top: -18px;
}

.sombra-y {
    width: 15px;
    height: 15px;
    background: var(--amarillo-back);
    border-radius: 1rem;
    margin-left: 1px;
    margin-top: 1px;
}

.esfera-y {
    width: 11px;
    height: 11px;
    border-radius: 1rem;
    background: var(--amarillo-tab);
}

.alarma {
    background: var(--rojo);
    width: 205px;
    height: 64px;
    position: absolute;
    margin-top: 32px;
    margin-left: var(--espaciado-left-pc);
    border-bottom-left-radius: 6px;
}

#radar {
    width: 65px;
    height: 65px;
    background: var(--blanco);
    border-radius: 4rem;
    margin-left: 36px;
    margin-top: -14px;
}

/* 
#curva{
    background: var(--maron);
    height: 61px;
    width: 64px;
    margin-left: 225px;
    margin-top: -53px;
} */

#poligono {
    width: 78px;
    height: 63px;
    background: var(--rojo);
    /* position: fixed; */
    margin-top: -50px;
    margin-left: 201px;
    border-bottom-right-radius: 305px;
}

#circulo-azul {
    background: var(--azul);
    width: 55px;
    height: 55px;
    border-radius: 4rem;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}

#circulo-claro {
    background: var(--azul-claro);
    width: 44px;
    height: 44px;
    border-radius: 4rem;
    position: absolute;
    margin-top: 1px;
    margin-left: 4px;
}

#centro {
    background: var(--blanco);
    width: 11px;
    height: 11px;
    border-radius: 4rem;
    position: absolute;
    margin-top: 5px;
    margin-left: 14px;
}

.lienzo {
    background: var(--rojo);
    /* width: 439px; */
    width: var(--width-pc);
    height: 354px;
    position: absolute;
    margin-top: 100px;
    margin-left: var(--espaciado-left-pc);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 7px;
    justify-content: center
}

#linea-r {
    width: 4px;
    height: 62px;
    background: var(--rojo);
    position: absolute;
    margin-left: 443px;
    margin-top: 40px;
}

.content-pokedex {
    background: var(--maron);
    /* width: 427px; */
    width: 374px;
    height: 349px;
    position: absolute;
    margin-left: var(--espaciado-left-pc);
    border-top-left-radius: 5px;
    justify-content: center;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 7px;
}

#contorno-info-window {
    background: var(--contorno-info-windows);
    /* width: 407px; */
    width: 335px;
    height: 215px;
    margin-top: 7px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 14px;
    position: relative;
    clip-path: polygon(0px 0px, 407px 0px, 407px 215px, 52px 216px, 0px 166px);
}

#info-window {
    background: var(--info-window);
    /* width: 401px; */
    width: 325px;
    height: 208px;
    margin-top: -214px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 20px;
    position: absolute;
    border-bottom-right-radius: 12px;
    clip-path: polygon(0px 0px, 401px 0px, 401px 208px, 49px 209px, 0px 162px);
}

/* #content-info{
    background: var(--info-window);
    width: 402px;
    height: 50px;
    margin-top: -2px;
    margin-left: 19px;
    border-bottom-right-radius: 17px;
}

#contorno-content-info{
    background: var(--contorno-info-windows);
    height: 52px;
    width: 408px;
    position: absolute;
    margin-left: 13px;
    border-bottom-right-radius: 19px;
    margin-top: -1px;
} */

#preview {
    background: var(--preview);
    width: 276px;
    height: 157px;
    /* height: 148px; */
    margin-top: 15px;
    /* margin-left: 65px; */
    margin-left: 37px;
    border-radius: 22px;
    border-top: 1px var(--contorno-preview) solid;
    border-right: 1px var(--contorno-preview) solid;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#pokemon {
    /* width: 50%; */
    width: 123px;
    /* height: 123px; */
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* width: 72%;
    margin-top: -38px;
    margin-bottom: -50px; */
}

#img-pokemon {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nombre_pokemon {
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    font-family: -webkit-pictograph;
    letter-spacing: 1pt;
}

.botones {
    position: absolute;
    margin-top: 225px;
    margin-left: var(--espaciado-left-pc);
}

#contorno-boton-circular {
    width: 36px;
    height: 36px;
    background: var(--contorno-botones);
    border-radius: 4rem;
    margin-left: 32px;
    margin-top: -9px;
}

#boton-circular {
    width: 32px;
    height: 32px;
    background: var(--botones);
    border-radius: 4rem;
    margin-left: 3px;
    margin-top: -7px;
    cursor: pointer;
}

#primer-boton {
    width: 55px;
    height: 10px;
    background: var(--primer-boton);
    margin-left: 75px;
    margin-top: -23px;
    border-radius: 1rem;
    border: 1px #00000061 solid;
}

#segundo-boton {
    width: 55px;
    height: 10px;
    background: var(--segundo-boton);
    margin-left: 143px;
    margin-top: -12px;
    border-radius: 1rem;
    border: 1px #00000061 solid;
}

#contorno-caja {
    width: 216px;
    height: 71px;
    margin-left: 56px;
    border-radius: 6px;
    margin-top: 18px;
    border: 2px #00000061 solid;
}

#caja {
    background: var(--caja);
    width: 209px;
    height: 65px;
    margin-top: -70px;
    margin-left: 61px;
    border-radius: 5px;
}

#controlles {
    margin-left: -24px;
}

#contorno-controlls-vertical {
    width: 25px;
    height: 78px;
    background: var(--contorno-botones);
    border-radius: 6px;
    margin-top: -89px;
    margin-left: 336px;
}

#controlls-vertical {
    width: 25px;
    height: 77px;
    background: var(--botones);
    border-radius: 7px;
    margin-top: -53px;
    margin-left: 339px;
}

#contorno-controlls-horizontal {
    width: 78px;
    height: 25px;
    background: var(--contorno-botones);
    border-radius: 6px;
    margin-top: -49px;
    margin-left: 310px;
}

#controlls-horizontal {
    width: 75px;
    height: 23px;
    background: var(--botones);
    border-radius: 6px;
    margin-top: -25px;
    margin-left: 313px;
}

#circulito {
    width: 13px;
    height: 13px;
    border-radius: 2rem;
    border: 1px black solid;
    margin-left: 343px;
    margin-top: -44px;
    background: #0000004a;
}



/* media query */
@media (max-width: 576px){
    section#seccion_busqueda {
        margin: 0px 0px 440px 52px;
    }

    .primer-contenedor {
        width: 50vh;
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 2%;
    }

    .tablero {
        width: 48vh;
    }

    .lienzo {
        width: 48vh;
    }

    .content-pokedex {
        width: 46vh;
    }

    /*  */
    div#contorno-info-window {
        width: 40vh;
    }

    div#info-window {
        width: 38vh;
    }

    div#preview {
        width: 31vh;
        margin-left: 12%;
    }

    div#linea-r {
        margin-left: 323px;
        width: 5px;
    }

    div#contorno-caja {
        margin-left: 6%;
        width: 40%;
    }

    div#caja {
        width: 37%;
        margin-left: 8%;
    } 

    div#controlles {
        margin-left: -25%;
        margin-top: 2%;
    }
}

@media (max-width: 768px){}
@media (max-width: 992px){}
@media (max-width: 1200px){}